extends layout.pug 
block Content 
    .homeInfo
        h1 Update student info
        if error 
            p.error Please enter a value for the form to edit it
        form(action=`/students/${id}/edit`, method="post")
            .formItem 
                h2 First Name
                input(type = "text" name = "first_name" placeholder = "Enter first name..." value = `${studentData.first_name}`)
            .formItem 
                h2 Last Name
                input(type = "text" name = "last_name" placeholder = "Enter last name..." value = `${studentData.last_name}`)
            .formItem 
                h2 Student Id
                input(type = "number" name = "student_id" placeholder = "Enter student id..." value = `${studentData.student_id}`)
            .formItem 
                h2 Phone Number
                input(type = "text" name = "phone_number" placeholder = "Enter phone number..." value = `${studentData.phone_number}`)
            .formItem 
                h2 Email
                input(type = "email" name = "email" placeholder = "Enter email..." value = `${studentData.email}`)
            .formItem 
                button.btnCreate Save